* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
}

.nav-link {
  color: white;
  font-family: bolder;
  font-size: large;
}
.nav-item :hover {
  color: aqua;
}

.ban-img {
  width: 100%;
}

.portfoli-section {
  margin-top: 8%;
}

.card-left {
  height: 100%;
}

.contact-section {
  margin-top: 8%;
}

.contact-form {
  /* width: 60%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-section {
  margin-top: 8%;
}

footer {
  margin-top: 5%;
  margin-bottom: 3%;
}
